# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/
.vscode/

# Dependencies
*.egg-info/
dist/
build/
*.egg

# VSCode settings
.vscode/

# IDE files
*.idea/
*.vscode/
*.code-workspace

# Logs
*.log

# Env
.env